<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="school.mapper.NewActionMapper">
    <insert id="addNewAction" parameterType="NewAction">
        insert into `newaction`(`title`,`content`,`pictureName1`,`pictureAdd1`,`pictureName2`,`pictureAdd2`,`pictureName3`,`pictureAdd3`,
        `pictureName4`,`pictureAdd4`,`userId`,`time`,`schoolId`,`clicks`,`status`)values
        (#{title},#{content},#{pictureName1},#{pictureAdd1},#{pictureName2},#{pictureAdd2},#{pictureName3},#{pictureAdd3},
        #{pictureName4},#{pictureAdd4},#{userId},#{time},#{schoolId},#{clicks},#{status})
    </insert>
    <select id="findNewActionMain" resultType="NewAction">
        select `newaction`.*,(select `users`.`userName` from `users` where `users`.`id` = `newaction`.`userId`) as `userName` from `newaction` ORDER BY `time` desc LIMIT 0,8
    </select>
    <select id="findNewActionById" resultType="NewAction">
        SELECT `newaction`.*,(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
        where `newaction`.`id` = #{id}
    </select>
    <update id="updateClicks">
        update `newaction` set `clicks` = #{clicks} where `id` = #{id}
    </update>
    <select id="getNewActionList" resultType="NewAction">
        SELECT `newaction`.*,(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
        <where>
            `status` = 4
            <if test="userId !=0 and userId != null">
                and `userId` = #{userId}
            </if>
            <if test="schoolId != 0 and schoolId != null">
                and `schoolId` = #{schoolId}
            </if>
            <if test="title != null and title != ''">
                and `title` like concat ('%',#{title},'%')
            </if>
        </where>
        ORDER BY `time` DESC limit #{from},#{pageSize}
    </select>
    <select id="count" resultType="int">
        SELECT count(*),(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
        <where>
            `status` = 4
            <if test="userId !=0 and userId != null">
                and `userId` = #{userId}
            </if>
            <if test="schoolId != 0 and schoolId != null">
                and `schoolId` = #{schoolId}
            </if>
            <if test="title != null and title != ''">
                and `title` like concat ('%',#{title},'%')
            </if>
        </where>
    </select>
    <select id="getMyNewActionList" resultType="NewAction">
        SELECT `newaction`.*,(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (select `status`.status from `status` where `newaction`.`status`= `status`.`id`)as `statusName`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
         where `userId` = #{userId}
        ORDER BY `time` DESC limit #{from},#{pageSize}
    </select>
    <select id="myCount" resultType="int">
        SELECT count(*),(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
         where `userId` = #{userId}
    </select>
    <delete id="delAction" parameterType="int">
        delete from `newaction` where `id` = #{id}
    </delete>
    <select id="getNewActionListAdmin" resultType="NewAction">
        SELECT `newaction`.*,(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `status`.`status` FROM `status` WHERE `status`.`id` = `newaction`.`status`)AS`statusName`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
        <where>
            <if test="status !=0 and status != null">
                and `status` = #{status}
            </if>
            <if test="schoolId != 0 and schoolId != null">
                and `schoolId` = #{schoolId}
            </if>
            <if test="title != null and title != ''">
                and `title` like concat ('%',#{title},'%')
            </if>
        </where>
        ORDER BY `time` DESC limit #{from},#{pageSize}
    </select>
    <select id="countAdmin" resultType="int">
        SELECT count(*),(SELECT `users`.userName FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`userName`,
        (SELECT `users`.phone FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`phone`,
        (SELECT `users`.weixin FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`weixin`,
        (SELECT `users`.qq FROM `users` WHERE `users`.`id` = `newaction`.`userId`)AS`qq`,
        (SELECT `status`.`status` FROM `status` WHERE `status`.`id` = `newaction`.`status`)AS`statusName`,
        (SELECT `school`.schoolName FROM `school` WHERE `school`.`id` = `newaction`.`schoolId`)AS`schoolName` FROM `newaction`
        <where>
            <if test="status !=0 and status != null">
                and `status` = #{status}
            </if>
            <if test="schoolId != 0 and schoolId != null">
                and `schoolId` = #{schoolId}
            </if>
            <if test="title != null and title != ''">
                and `title` like concat ('%',#{title},'%')
            </if>
        </where>
    </select>
    <update id="pass" parameterType="int">
        update `newaction` set `status` = 4 where `id`=#{id}
    </update>
    <update id="noPass" parameterType="int">
        update `newaction` set `status` = 5 where `id`=#{id}
    </update>
    <delete id="delByUser" parameterType="int">
        delete from `newaction` where `userId` = #{userId}
    </delete>
</mapper>